<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BingMapAppSDK" version="1.0.1011.1716" targetFramework="win" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="win" />
  <package id="TCD.Controls" version="2.1.0" targetFramework="win" />
  <package id="WinRTXamlToolkit" version="1.5.3.0" targetFramework="win" />
</packages>